<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>JeanPaul_body_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{675, 1}, {336, 564}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {336, 564}}</string>
			<key>sourceSize</key>
			<string>{338, 564}</string>
		</dict>
		<key>JeanPaul_body_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {336, 564}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {336, 564}}</string>
			<key>sourceSize</key>
			<string>{338, 564}</string>
		</dict>
		<key>JeanPaul_body_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 1}, {336, 564}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {336, 564}}</string>
			<key>sourceSize</key>
			<string>{338, 564}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
