<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Jenny_sx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{142, 716}, {190, 222}}</string>
			<key>offset</key>
			<string>{-15, -58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{168, 116}, {190, 222}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {310, 302}}</string>
			<key>offset</key>
			<string>{99, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{222, 0}, {310, 302}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 475}, {266, 240}}</string>
			<key>offset</key>
			<string>{120, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{265, 63}, {266, 240}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 716}, {140, 282}}</string>
			<key>offset</key>
			<string>{12, 28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{220, 0}, {140, 282}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{312, 192}, {292, 278}}</string>
			<key>offset</key>
			<string>{132, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{264, 25}, {292, 278}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{605, 210}, {280, 264}}</string>
			<key>offset</key>
			<string>{127, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{265, 39}, {280, 264}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{312, 1}, {306, 190}}</string>
			<key>offset</key>
			<string>{-98, -40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 114}, {306, 190}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{288, 471}, {280, 162}}</string>
			<key>offset</key>
			<string>{-111, -26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 114}, {280, 162}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{333, 634}, {202, 188}}</string>
			<key>offset</key>
			<string>{-45, -41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{132, 116}, {202, 188}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{619, 1}, {302, 208}}</string>
			<key>offset</key>
			<string>{-123, -30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 95}, {302, 208}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
		<key>Jenny_sx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 304}, {286, 170}}</string>
			<key>offset</key>
			<string>{-115, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20, 111}, {286, 170}}</string>
			<key>sourceSize</key>
			<string>{556, 338}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
