<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>fight_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 52}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 111}, {58, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_dx_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {117, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{117, 111}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 113}, {117, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_dx_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {115, 109}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{115, 109}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 111}, {115, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_dx_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {121, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{121, 121}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 123}, {121, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_sx_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {117, 111}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{117, 111}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 1}, {117, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_sx_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {117, 109}}</string>
			<key>spriteOffset</key>
			<string>{-2, 5}</string>
			<key>spriteSize</key>
			<string>{117, 109}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 1}, {117, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_btn_sx_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {121, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{121, 121}</string>
			<key>spriteSourceSize</key>
			<string>{121, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {121, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_both_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 21}</string>
			<key>spriteSourceSize</key>
			<string>{41, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 225}, {41, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_both_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 21}</string>
			<key>spriteSourceSize</key>
			<string>{41, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 225}, {41, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_dx_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 225}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_dx_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 221}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_sx_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 221}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_feed_sx_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 225}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_help1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 31}</string>
			<key>spriteSourceSize</key>
			<string>{28, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 221}, {28, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>intro_help2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 31}</string>
			<key>spriteSourceSize</key>
			<string>{28, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 221}, {28, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>IntroButtAndFeed</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>IntroButtAndFeed.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>IntroButtAndFeed</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>