<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>intro_btn_dx_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{459, 1}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_btn_dx_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 216}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_btn_dx_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{230, 1}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_btn_sx_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{688, 1}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_btn_sx_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{230, 216}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_btn_sx_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {228, 214}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {228, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 220}</string>
		</dict>
		<key>intro_feed_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{459, 216}, {46, 42}}</string>
			<key>offset</key>
			<string>{-1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 17}, {46, 42}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>intro_feed_dx_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{917, 190}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>intro_feed_dx_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{917, 64}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>intro_feed_sx_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{917, 1}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>intro_feed_sx_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{917, 127}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
