<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>achievements_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{362, 750}, {360, 88}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {360, 88}}</string>
			<key>sourceSize</key>
			<string>{360, 90}</string>
		</dict>
		<key>achievements_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 930}, {360, 88}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {360, 88}}</string>
			<key>sourceSize</key>
			<string>{360, 90}</string>
		</dict>
		<key>credits_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 481}, {385, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>sourceSize</key>
			<string>{385, 89}</string>
		</dict>
		<key>credits_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 483}, {385, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>sourceSize</key>
			<string>{385, 89}</string>
		</dict>
		<key>getcoins_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 571}, {385, 88}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 88}}</string>
			<key>sourceSize</key>
			<string>{385, 88}</string>
		</dict>
		<key>getcoins_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 573}, {385, 88}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 88}}</string>
			<key>sourceSize</key>
			<string>{385, 88}</string>
		</dict>
		<key>leaderboard_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 750}, {360, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {360, 89}}</string>
			<key>sourceSize</key>
			<string>{360, 89}</string>
		</dict>
		<key>leaderboard_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 840}, {360, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {360, 89}}</string>
			<key>sourceSize</key>
			<string>{360, 89}</string>
		</dict>
		<key>play_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 393}, {385, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>sourceSize</key>
			<string>{385, 89}</string>
		</dict>
		<key>play_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 303}, {385, 89}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>sourceSize</key>
			<string>{385, 89}</string>
		</dict>
		<key>reset_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{783, 1}, {160, 27}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 27}}</string>
			<key>sourceSize</key>
			<string>{160, 27}</string>
		</dict>
		<key>stats_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 662}, {385, 87}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 87}}</string>
			<key>sourceSize</key>
			<string>{385, 87}</string>
		</dict>
		<key>stats_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 660}, {385, 87}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {385, 87}}</string>
			<key>sourceSize</key>
			<string>{385, 87}</string>
		</dict>
		<key>store1_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{388, 214}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store1_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{388, 125}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store2_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 303}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store2_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 392}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store3_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 125}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store3_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 214}, {386, 88}}</string>
			<key>offset</key>
			<string>{2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {386, 88}}</string>
			<key>sourceSize</key>
			<string>{390, 90}</string>
		</dict>
		<key>store4_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {390, 123}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {390, 123}}</string>
			<key>sourceSize</key>
			<string>{390, 123}</string>
		</dict>
		<key>store4_btn_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{392, 1}, {390, 123}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {390, 123}}</string>
			<key>sourceSize</key>
			<string>{390, 123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
