<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bar_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bar_mask.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {390, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{390, 38}</string>
			<key>spriteSourceSize</key>
			<string>{390, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 123}, {390, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bar_red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 62}, {400, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>giveup_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 86}</string>
			<key>spriteSourceSize</key>
			<string>{385, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 424}, {385, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>giveup_btn_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 86}</string>
			<key>spriteSourceSize</key>
			<string>{385, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 455}, {385, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 688}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 542}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 414}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 511}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 688}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 620}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 511}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 180}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{389, 620}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 589}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 667}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{583, 620}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{389, 542}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 532}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 542}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 589}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 1}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 511}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 620}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 454}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 610}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{583, 542}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 336}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 667}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 287}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 298}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 667}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{887, 79}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 258}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 376}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 589}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 542}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {98, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{98, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{217, 162}, {98, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {108, 85}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{108, 85}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 123}, {108, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {108, 81}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{108, 81}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 162}, {108, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {106, 77}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{106, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 162}, {106, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 209}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gong_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {96, 77}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 77}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{885, 1}, {96, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 55}</string>
			<key>spriteSourceSize</key>
			<string>{58, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 162}, {58, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restart_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 89}</string>
			<key>spriteSourceSize</key>
			<string>{385, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 365}, {385, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restart_btn_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 89}</string>
			<key>spriteSourceSize</key>
			<string>{385, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 334}, {385, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restart_free_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 88}</string>
			<key>spriteSourceSize</key>
			<string>{385, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 209}, {385, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restart_free_btn_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 88}</string>
			<key>spriteSourceSize</key>
			<string>{385, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{501, 91}, {385, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 89}</string>
			<key>spriteSourceSize</key>
			<string>{385, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 244}, {385, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume_btn_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 89}</string>
			<key>spriteSourceSize</key>
			<string>{385, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 1}, {385, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Common</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>Common-hd.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>Common-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>