<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bud_arm_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 110}, {134, 135}}</string>
			<key>spriteOffset</key>
			<string>{41, -45}</string>
			<key>spriteSize</key>
			<string>{134, 135}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{373, 202}, {134, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 30}, {198, 201}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{198, 201}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {198, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 30}, {130, 201}}</string>
			<key>spriteOffset</key>
			<string>{-36, 2}</string>
			<key>spriteSize</key>
			<string>{130, 201}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {130, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 61}, {82, 163}}</string>
			<key>spriteOffset</key>
			<string>{21, -10}</string>
			<key>spriteSize</key>
			<string>{82, 163}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 390}, {82, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 30}, {122, 199}}</string>
			<key>spriteOffset</key>
			<string>{-31, 3}</string>
			<key>spriteSize</key>
			<string>{122, 199}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 319}, {122, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 30}, {126, 199}}</string>
			<key>spriteOffset</key>
			<string>{-34, 3}</string>
			<key>spriteSize</key>
			<string>{126, 199}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 338}, {126, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 110}, {180, 155}}</string>
			<key>spriteOffset</key>
			<string>{10, -55}</string>
			<key>spriteSize</key>
			<string>{180, 155}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 0}, {180, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 110}, {114, 155}}</string>
			<key>spriteOffset</key>
			<string>{-23, -55}</string>
			<key>spriteSize</key>
			<string>{114, 155}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 546}, {114, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{86, 110}, {112, 145}}</string>
			<key>spriteOffset</key>
			<string>{32, -50}</string>
			<key>spriteSize</key>
			<string>{112, 145}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 675}, {112, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 110}, {114, 155}}</string>
			<key>spriteOffset</key>
			<string>{-23, -55}</string>
			<key>spriteSize</key>
			<string>{114, 155}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 390}, {114, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_arm_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 110}, {114, 155}}</string>
			<key>spriteOffset</key>
			<string>{-23, -55}</string>
			<key>spriteSize</key>
			<string>{114, 155}</string>
			<key>spriteSourceSize</key>
			<string>{220, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 519}, {114, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_head_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {173, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{173, 116}</string>
			<key>spriteSourceSize</key>
			<string>{227, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 156}, {173, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_head_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {173, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{173, 116}</string>
			<key>spriteSourceSize</key>
			<string>{227, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 202}, {173, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bud_head_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {173, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{173, 116}</string>
			<key>spriteSourceSize</key>
			<string>{227, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 273}, {173, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>BudPlayer</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>BudPlayer.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>BudPlayer</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>