<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jenny_hit1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 24}, {204, 202}}</string>
			<key>spriteOffset</key>
			<string>{-175, 44}</string>
			<key>spriteSize</key>
			<string>{204, 202}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {204, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 39}, {162, 172}}</string>
			<key>spriteOffset</key>
			<string>{-183, 44}</string>
			<key>spriteSize</key>
			<string>{162, 172}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 0}, {162, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{344, 95}, {212, 208}}</string>
			<key>spriteOffset</key>
			<string>{172, -30}</string>
			<key>spriteSize</key>
			<string>{212, 208}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {212, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{378, 111}, {160, 170}}</string>
			<key>spriteOffset</key>
			<string>{180, -27}</string>
			<key>spriteSize</key>
			<string>{160, 170}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 174}, {160, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 24}, {204, 202}}</string>
			<key>spriteOffset</key>
			<string>{-175, 44}</string>
			<key>spriteSize</key>
			<string>{204, 202}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 420}, {204, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 39}, {162, 172}}</string>
			<key>spriteOffset</key>
			<string>{-183, 44}</string>
			<key>spriteSize</key>
			<string>{162, 172}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 0}, {162, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{344, 95}, {212, 208}}</string>
			<key>spriteOffset</key>
			<string>{172, -30}</string>
			<key>spriteSize</key>
			<string>{212, 208}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 210}, {212, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit1_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{378, 111}, {160, 170}}</string>
			<key>spriteOffset</key>
			<string>{180, -27}</string>
			<key>spriteSize</key>
			<string>{160, 170}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 174}, {160, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 60}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{-168, 35}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 346}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 61}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{-170, 34}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 304}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{427, 121}, {98, 150}}</string>
			<key>spriteOffset</key>
			<string>{198, -27}</string>
			<key>spriteSize</key>
			<string>{98, 150}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 624}, {98, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{432, 127}, {100, 150}}</string>
			<key>spriteOffset</key>
			<string>{204, -33}</string>
			<key>spriteSize</key>
			<string>{100, 150}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 152}, {100, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 60}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{-168, 35}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 624}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 61}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{-170, 34}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 496}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{427, 121}, {98, 150}}</string>
			<key>spriteOffset</key>
			<string>{198, -27}</string>
			<key>spriteSize</key>
			<string>{98, 150}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 496}, {98, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jenny_hit2_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{432, 127}, {100, 150}}</string>
			<key>spriteOffset</key>
			<string>{204, -33}</string>
			<key>spriteSize</key>
			<string>{100, 150}</string>
			<key>spriteSourceSize</key>
			<string>{556, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 0}, {100, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>JennyHit</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>JennyHit</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>JennyHit</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>