<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cinziah_sx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{736, 304}, {180, 180}}</string>
			<key>offset</key>
			<string>{-24, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{151, 114}, {180, 180}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {326, 302}}</string>
			<key>offset</key>
			<string>{79, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{181, 1}, {326, 302}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{740, 1}, {276, 234}}</string>
			<key>offset</key>
			<string>{102, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{229, 69}, {276, 234}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{328, 1}, {112, 290}}</string>
			<key>offset</key>
			<string>{20, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{229, 2}, {112, 290}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{441, 1}, {298, 272}}</string>
			<key>offset</key>
			<string>{113, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{229, 31}, {298, 272}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 304}, {286, 258}}</string>
			<key>offset</key>
			<string>{107, -16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{229, 45}, {286, 258}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{288, 304}, {272, 224}}</string>
			<key>offset</key>
			<string>{-113, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 92}, {272, 224}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 563}, {272, 166}}</string>
			<key>offset</key>
			<string>{-113, -38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 113}, {272, 166}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{561, 304}, {174, 224}}</string>
			<key>offset</key>
			<string>{-84, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94, 92}, {174, 224}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 563}, {292, 198}}</string>
			<key>offset</key>
			<string>{-119, -47}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 106}, {292, 198}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_sx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 563}, {276, 170}}</string>
			<key>offset</key>
			<string>{-112, -40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 113}, {276, 170}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
