<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chuck_dx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{985, 829}, {98, 132}}</string>
			<key>offset</key>
			<string>{-106, -251}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{173, 502}, {98, 132}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {180, 576}}</string>
			<key>offset</key>
			<string>{-156, -23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82, 52}, {180, 576}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{690, 1}, {158, 512}}</string>
			<key>offset</key>
			<string>{-145, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104, 52}, {158, 512}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1286, 1}, {134, 314}}</string>
			<key>offset</key>
			<string>{-133, -154}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 314}, {134, 314}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 1}, {276, 564}}</string>
			<key>offset</key>
			<string>{-190, 35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {276, 564}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{459, 1}, {230, 526}}</string>
			<key>offset</key>
			<string>{-181, 16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 38}, {230, 526}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 578}, {502, 444}}</string>
			<key>offset</key>
			<string>{-33, -90}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44, 185}, {502, 444}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{985, 448}, {372, 380}}</string>
			<key>offset</key>
			<string>{32, -59}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174, 186}, {372, 380}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1358, 316}, {226, 312}}</string>
			<key>offset</key>
			<string>{-171, -156}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44, 317}, {226, 312}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{504, 528}, {480, 470}}</string>
			<key>offset</key>
			<string>{86, -15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174, 97}, {480, 470}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
		<key>chuck_dx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{849, 1}, {436, 446}}</string>
			<key>offset</key>
			<string>{64, -26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174, 120}, {436, 446}}</string>
			<key>sourceSize</key>
			<string>{656, 634}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
