<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bud_sx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 452}, {268, 266}}</string>
			<key>offset</key>
			<string>{-78, -89}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 221}, {268, 266}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 1}, {394, 396}}</string>
			<key>offset</key>
			<string>{8, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31, 62}, {394, 396}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{946, 1}, {258, 396}}</string>
			<key>offset</key>
			<string>{76, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{167, 62}, {258, 396}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205, 310}, {162, 324}}</string>
			<key>offset</key>
			<string>{-38, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{101, 123}, {162, 324}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {296, 450}}</string>
			<key>offset</key>
			<string>{72, 34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144, 6}, {296, 450}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{298, 1}, {252, 436}}</string>
			<key>offset</key>
			<string>{73, 26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{167, 21}, {252, 436}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205, 1}, {358, 308}}</string>
			<key>offset</key>
			<string>{-16, -110}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 221}, {358, 308}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{850, 398}, {226, 308}}</string>
			<key>offset</key>
			<string>{49, -110}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{156, 221}, {226, 308}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 719}, {222, 288}}</string>
			<key>offset</key>
			<string>{-60, -100}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49, 221}, {222, 288}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 398}, {298, 312}}</string>
			<key>offset</key>
			<string>{32, -108}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103, 217}, {298, 312}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
		<key>bud_sx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{298, 438}, {228, 308}}</string>
			<key>offset</key>
			<string>{48, -110}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{154, 221}, {228, 308}}</string>
			<key>sourceSize</key>
			<string>{440, 530}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
