<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cinziah_dx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{274, 513}, {180, 180}}</string>
			<key>offset</key>
			<string>{26, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{201, 114}, {180, 180}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {326, 302}}</string>
			<key>offset</key>
			<string>{-78, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 1}, {326, 302}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{328, 276}, {278, 236}}</string>
			<key>offset</key>
			<string>{-101, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 68}, {278, 236}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 702}, {114, 292}}</string>
			<key>offset</key>
			<string>{-19, 11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{189, 1}, {114, 292}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{328, 1}, {298, 274}}</string>
			<key>offset</key>
			<string>{-112, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 30}, {298, 274}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{627, 200}, {286, 260}}</string>
			<key>offset</key>
			<string>{-106, -16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 44}, {286, 260}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 477}, {272, 224}}</string>
			<key>offset</key>
			<string>{113, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{242, 92}, {272, 224}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{607, 461}, {272, 168}}</string>
			<key>offset</key>
			<string>{113, -38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{242, 112}, {272, 168}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{116, 702}, {172, 224}}</string>
			<key>offset</key>
			<string>{85, -46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{264, 92}, {172, 224}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{627, 1}, {290, 198}}</string>
			<key>offset</key>
			<string>{120, -47}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{240, 106}, {290, 198}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
		<key>cinziah_dx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 304}, {276, 172}}</string>
			<key>offset</key>
			<string>{114, -40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{241, 112}, {276, 172}}</string>
			<key>sourceSize</key>
			<string>{530, 316}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
