<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>steven_body_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 1}, {438, 574}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {438, 574}}</string>
			<key>sourceSize</key>
			<string>{438, 582}</string>
		</dict>
		<key>steven_body_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{879, 1}, {438, 574}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {438, 574}}</string>
			<key>sourceSize</key>
			<string>{438, 582}</string>
		</dict>
		<key>steven_body_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {438, 574}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {438, 574}}</string>
			<key>sourceSize</key>
			<string>{438, 582}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
