<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>steven_sx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 713}, {256, 256}}</string>
			<key>offset</key>
			<string>{-88, -83}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 215}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 368}, {374, 280}}</string>
			<key>offset</key>
			<string>{-28, -120}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 240}, {374, 280}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{306, 408}, {226, 304}}</string>
			<key>offset</key>
			<string>{45, -107}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150, 215}, {226, 304}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 424}, {216, 284}}</string>
			<key>offset</key>
			<string>{-67, -95}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43, 213}, {216, 284}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{589, 382}, {296, 308}}</string>
			<key>offset</key>
			<string>{29, -105}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{99, 211}, {296, 308}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{760, 691}, {228, 304}}</string>
			<key>offset</key>
			<string>{45, -107}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{149, 215}, {228, 304}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{589, 1}, {400, 380}}</string>
			<key>offset</key>
			<string>{-18, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 56}, {400, 380}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 1}, {268, 366}}</string>
			<key>offset</key>
			<string>{48, 21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{132, 56}, {268, 366}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{589, 691}, {170, 324}}</string>
			<key>offset</key>
			<string>{-38, -19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95, 117}, {170, 324}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {304, 422}}</string>
			<key>offset</key>
			<string>{66, 49}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{132, 0}, {304, 422}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
		<key>steven_sx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{306, 1}, {282, 406}}</string>
			<key>offset</key>
			<string>{55, 42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{132, 15}, {282, 406}}</string>
			<key>sourceSize</key>
			<string>{436, 520}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
