<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background1</key>
	<string>miaghi_bg.png</string>
	<key>Background2</key>
	<string>crocodile_bg.png</string>
	<key>Background3</key>
	<string>cinziah_bg.png</string>
	<key>Background5</key>
	<string>maa_bg.png</string>
	<key>Background6</key>
	<string>jocopoco_bg.png</string>
	<key>Background7</key>
	<string>Jenny_bg.png</string>
	<key>Background8</key>
	<string>bud_bg.png</string>
	<key>Background10</key>
	<string>JeanPaul_bg.png</string>
	<key>Background11</key>
	<string>steven_bg.png</string>
	<key>Background12</key>
	<string>chuck_bg.png</string>
</dict>
</plist>
