<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Intro1</key>
	<string>miaghi_intro_bg.png</string>
	<key>Intro2</key>
	<string>johnny_intro_bg.png</string>
	<key>Intro3</key>
	<string>cinziah_intro_bg.png</string>
	<key>Intro5</key>
	<string>maa_intro_bg.png</string>
	<key>Intro6</key>
	<string>jocopoco_intro_bg.png</string>
	<key>Intro7</key>
	<string>jenny_intro_bg.png</string>
	<key>Intro9</key>
	<string>charlie_intro_bg.png</string>
	<key>Intro10</key>
	<string>jeanpaul_intro_bg.png</string>
	<key>Intro11</key>
	<string>steven_intro_bg.png</string>
	<key>Intro13</key>
	<string>chuck_intro_bg.png</string>
</dict>
</plist>
