<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndBackground1</key>
	<dict>
		<key>win</key>
		<string>miaghi_feedback_0001.png</string>
		<key>loose</key>
		<string>miaghi_feedback_0002.png</string>
	</dict>
	<key>EndBackground2</key>
	<dict>
		<key>win</key>
		<string>crocodile_feedback_0001.png</string>
		<key>loose</key>
		<string>crocodile_feedback_0002.png</string>
	</dict>
	<key>EndBackground3</key>
	<dict>
		<key>win</key>
		<string>cinziah_feedback_0001.png</string>
		<key>loose</key>
		<string>cinziah_feedback_0002.png</string>
	</dict>
	<key>EndBackground5</key>
	<dict>
		<key>win</key>
		<string>maa_feedback_0001.png</string>
		<key>loose</key>
		<string>maa_feedback_0002.png</string>
	</dict>
	<key>EndBackground6</key>
	<dict>
		<key>win</key>
		<string>joco_feedback_0001.png</string>
		<key>loose</key>
		<string>joco_feedback_0002.png</string>
	</dict>
	<key>EndBackground7</key>
	<dict>
		<key>win</key>
		<string>Jenny_feedback_0001.png</string>
		<key>loose</key>
		<string>Jenny_feedback_0002.png</string>
	</dict>
	<key>EndBackground8</key>
	<dict>
		<key>win</key>
		<string>bud_feedback_0001.png</string>
		<key>loose</key>
		<string>bud_feedback_0002.png</string>
	</dict>
	<key>EndBackground10</key>
	<dict>
		<key>win</key>
		<string>JeanPaul_feedback_0001.png</string>
		<key>loose</key>
		<string>JeanPaul_feedback_0002.png</string>
	</dict>
	<key>EndBackground11</key>
	<dict>
		<key>win</key>
		<string>steven_feedback_0001.png</string>
		<key>loose</key>
		<string>steven_feedback_0002.png</string>
	</dict>
	<key>EndBackground12</key>
	<dict>
		<key>win</key>
		<string>chuck_feedback_0001.png</string>
		<key>loose</key>
		<string>chuck_feedback_0002.png</string>
	</dict>
</dict>
</plist>
