<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodyFeed</key>
	<dict>
		<key>animationFrames</key>
		<string>02,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_head_00</string>
	</dict>
	<key>bodyFeedErr</key>
	<dict>
		<key>animationFrames</key>
		<string>03,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_head_00</string>
	</dict>
	<key>manoApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,02,03</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>04,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>05,06</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoCrossApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,07,08</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoCrossChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>09,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoCrossColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>10,11</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_arm_00</string>
	</dict>
	<key>manoDestraHitUnder</key>
	<dict>
		<key>animationFrames</key>
		<string>01,02</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit1_00</string>
	</dict>
	<key>manoDestraHitOver</key>
	<dict>
		<key>animationFrames</key>
		<string>01,02</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit2_00</string>
	</dict>
	<key>manoSinistraHitUnder</key>
	<dict>
		<key>animationFrames</key>
		<string>05,06</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit1_00</string>
	</dict>
	<key>manoSinistraHitOver</key>
	<dict>
		<key>animationFrames</key>
		<string>05,06</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit2_00</string>
	</dict>
	<key>manoDestraCrossHitUnder</key>
	<dict>
		<key>animationFrames</key>
		<string>03,04</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit1_00</string>
	</dict>
	<key>manoDestraCrossHitOver</key>
	<dict>
		<key>animationFrames</key>
		<string>03,04</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit2_00</string>
	</dict>
	<key>manoSinistraCrossHitUnder</key>
	<dict>
		<key>animationFrames</key>
		<string>07,08</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit1_00</string>
	</dict>
	<key>manoSinistraCrossHitOver</key>
	<dict>
		<key>animationFrames</key>
		<string>07,08</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>steven_hit2_00</string>
	</dict>
</dict>
</plist>
