<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodyFeed</key>
	<dict>
		<key>animationFrames</key>
		<string>02,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_body_00</string>
	</dict>
	<key>bodyFeedErr</key>
	<dict>
		<key>animationFrames</key>
		<string>03,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_body_00</string>
	</dict>
	<key>manoDestraApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,02,03</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
	<key>manoDestraChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>04,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
	<key>manoSinistraApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,02,03</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoSinistraChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>04,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoDestraColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>05,06</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
	<key>manoSinistraColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>05,06</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoSinistraCrossApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,07,08</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoSinistraCrossChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>09,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoDestraCrossApre</key>
	<dict>
		<key>animationFrames</key>
		<string>01,07,08</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
	<key>manoDestraCrossChiude</key>
	<dict>
		<key>animationFrames</key>
		<string>09,01</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
	<key>manoSinistraCrossColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>10,11</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_sx_00</string>
	</dict>
	<key>manoDestraCrossColpita</key>
	<dict>
		<key>animationFrames</key>
		<string>10,11</string>
		<key>delay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>Jenny_dx_00</string>
	</dict>
</dict>
</plist>
