<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scena1</key>
	<dict>
		<key>backgroundTrack</key>
		<string>120_miyagi_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>120</integer>
			<key>leftHand</key>
			<string>miaghi_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>476</integer>
			<key>leftPositionY</key>
			<integer>575</integer>
			<key>leftRectPositionX</key>
			<integer>662</integer>
			<key>leftRectPositionY</key>
			<integer>294</integer>
			<key>name</key>
			<string>Miaghi</string>
			<key>positionX</key>
			<integer>472</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>miaghi_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>79</integer>
			<key>rightPositionY</key>
			<integer>575</integer>
			<key>rightRectPositionX</key>
			<integer>129</integer>
			<key>rightRectPositionY</key>
			<integer>294</integer>
			<key>texture</key>
			<string>miaghi_body_0001.png</string>
		</dict>
	</dict>
	<key>Scena2</key>
	<dict>
		<key>backgroundTrack</key>
		<string>120_coccodrillo_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>120</integer>
			<key>leftHand</key>
			<string>crocodile_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>472</integer>
			<key>leftPositionY</key>
			<integer>516</integer>
			<key>leftRectPositionX</key>
			<integer>672</integer>
			<key>leftRectPositionY</key>
			<integer>230</integer>
			<key>name</key>
			<string>Crocodile</string>
			<key>positionX</key>
			<integer>474</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>crocodile_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>64</integer>
			<key>rightPositionY</key>
			<integer>516</integer>
			<key>rightRectPositionX</key>
			<integer>114</integer>
			<key>rightRectPositionY</key>
			<integer>230</integer>
			<key>texture</key>
			<string>crocodile_body_0001.png</string>
		</dict>
	</dict>
	<key>Scena3</key>
	<dict>
		<key>backgroundTrack</key>
		<string>120_cinziah_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>120</integer>
			<key>leftHand</key>
			<string>cinziah_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>326</integer>
			<key>leftPositionY</key>
			<integer>524</integer>
			<key>leftRectPositionX</key>
			<integer>674</integer>
			<key>leftRectPositionY</key>
			<integer>266</integer>
			<key>name</key>
			<string>ChunLi</string>
			<key>positionX</key>
			<integer>478</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>cinziah_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>100</integer>
			<key>rightPositionY</key>
			<integer>524</integer>
			<key>rightRectPositionX</key>
			<integer>120</integer>
			<key>rightRectPositionY</key>
			<integer>266</integer>
			<key>texture</key>
			<string>cinziah_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>471</integer>
			<key>rightRectCrossPositionY</key>
			<integer>330</integer>
			<key>leftRectCrossPositionX</key>
			<integer>312</integer>
			<key>leftRectCrossPositionY</key>
			<string>330</string>
		</dict>
	</dict>
	<key>Scena5</key>
	<dict>
		<key>backgroundTrack</key>
		<string>140_masai_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>140</integer>
			<key>leftHand</key>
			<string>maa_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>486</integer>
			<key>leftPositionY</key>
			<integer>524</integer>
			<key>leftRectPositionX</key>
			<integer>694</integer>
			<key>leftRectPositionY</key>
			<integer>116</integer>
			<key>name</key>
			<string>Masai</string>
			<key>positionX</key>
			<integer>496</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>maa_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>110</integer>
			<key>rightPositionY</key>
			<integer>524</integer>
			<key>rightRectPositionX</key>
			<integer>124</integer>
			<key>rightRectPositionY</key>
			<integer>116</integer>
			<key>texture</key>
			<string>maa_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>124</integer>
			<key>rightRectCrossPositionY</key>
			<integer>342</integer>
			<key>leftRectCrossPositionX</key>
			<integer>694</integer>
			<key>leftRectCrossPositionY</key>
			<string>342</string>
		</dict>
	</dict>
	<key>Scena6</key>
	<dict>
		<key>backgroundTrack</key>
		<string>140_jocopoco_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>140</integer>
			<key>leftHand</key>
			<string>joco_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>483</integer>
			<key>leftPositionY</key>
			<integer>514</integer>
			<key>leftRectPositionX</key>
			<integer>684</integer>
			<key>leftRectPositionY</key>
			<integer>316</integer>
			<key>name</key>
			<string>Jocopoco</string>
			<key>positionX</key>
			<integer>480</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>joco_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>90</integer>
			<key>rightPositionY</key>
			<integer>514</integer>
			<key>rightRectPositionX</key>
			<integer>116</integer>
			<key>rightRectPositionY</key>
			<integer>316</integer>
			<key>texture</key>
			<string>joco_body_0001.png</string>
		</dict>
	</dict>
	<key>Scena7</key>
	<dict>
		<key>backgroundTrack</key>
		<string>140_jenny_lava.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>140</integer>
			<key>leftHand</key>
			<string>Jenny_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>314</integer>
			<key>leftPositionY</key>
			<integer>516</integer>
			<key>leftRectPositionX</key>
			<integer>684</integer>
			<key>leftRectPositionY</key>
			<integer>230</integer>
			<key>name</key>
			<string>Jenny</string>
			<key>positionX</key>
			<integer>474</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>Jenny_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>96</integer>
			<key>rightPositionY</key>
			<integer>516</integer>
			<key>rightRectPositionX</key>
			<integer>124</integer>
			<key>rightRectPositionY</key>
			<integer>230</integer>
			<key>texture</key>
			<string>Jenny_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>488</integer>
			<key>rightRectCrossPositionY</key>
			<integer>296</integer>
			<key>leftRectCrossPositionX</key>
			<integer>326</integer>
			<key>leftRectCrossPositionY</key>
			<string>296</string>
		</dict>
	</dict>
	<key>Scena8</key>
	<dict>
		<key>backgroundTrack</key>
		<string>160_bud_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>160</integer>
			<key>leftHand</key>
			<string>bud_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>470</integer>
			<key>leftPositionY</key>
			<integer>606</integer>
			<key>leftRectPositionX</key>
			<integer>700</integer>
			<key>leftRectPositionY</key>
			<integer>170</integer>
			<key>name</key>
			<string>Bud</string>
			<key>positionX</key>
			<integer>482</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>bud_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>48</integer>
			<key>rightPositionY</key>
			<integer>606</integer>
			<key>rightRectPositionX</key>
			<integer>100</integer>
			<key>rightRectPositionY</key>
			<integer>170</integer>
			<key>texture</key>
			<string>bud_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>132</integer>
			<key>rightRectCrossPositionY</key>
			<integer>358</integer>
			<key>leftRectCrossPositionX</key>
			<integer>670</integer>
			<key>leftRectCrossPositionY</key>
			<string>358</string>
		</dict>
	</dict>
	<key>Scena10</key>
	<dict>
		<key>backgroundTrack</key>
		<string>160_van_damme_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>160</integer>
			<key>leftHand</key>
			<string>JeanPaul_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>286</integer>
			<key>leftPositionY</key>
			<integer>531</integer>
			<key>leftRectPositionX</key>
			<integer>672</integer>
			<key>leftRectPositionY</key>
			<integer>250</integer>
			<key>name</key>
			<string>JeanPaul</string>
			<key>positionX</key>
			<integer>466</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>JeanPaul_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>46</integer>
			<key>rightPositionY</key>
			<integer>531</integer>
			<key>rightRectPositionX</key>
			<integer>94</integer>
			<key>rightRectPositionY</key>
			<integer>250</integer>
			<key>texture</key>
			<string>JeanPaul_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>480</integer>
			<key>rightRectCrossPositionY</key>
			<integer>360</integer>
			<key>leftRectCrossPositionX</key>
			<integer>288</integer>
			<key>leftRectCrossPositionY</key>
			<string>360</string>
		</dict>
	</dict>
	<key>Scena11</key>
	<dict>
		<key>backgroundTrack</key>
		<string>160_bitonti_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>160</integer>
			<key>leftHand</key>
			<string>steven_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>476</integer>
			<key>leftPositionY</key>
			<integer>600</integer>
			<key>leftRectPositionX</key>
			<integer>690</integer>
			<key>leftRectPositionY</key>
			<integer>354</integer>
			<key>name</key>
			<string>Bitonti</string>
			<key>positionX</key>
			<integer>483</integer>
			<key>positionY</key>
			<integer>640</integer>
			<key>rightHand</key>
			<string>steven_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>48</integer>
			<key>rightPositionY</key>
			<integer>600</integer>
			<key>rightRectPositionX</key>
			<integer>116</integer>
			<key>rightRectPositionY</key>
			<integer>354</integer>
			<key>texture</key>
			<string>steven_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>116</integer>
			<key>rightRectCrossPositionY</key>
			<integer>162</integer>
			<key>leftRectCrossPositionX</key>
			<integer>690</integer>
			<key>leftRectCrossPositionY</key>
			<string>162</string>
		</dict>
	</dict>
	<key>Scena12</key>
	<dict>
		<key>backgroundTrack</key>
		<string>180_chuck_music.mp3</string>
		<key>player</key>
		<dict>
			<key>bpm</key>
			<integer>180</integer>
			<key>leftHand</key>
			<string>chuck_sx_0001.png</string>
			<key>leftPositionX</key>
			<integer>128</integer>
			<key>leftPositionY</key>
			<integer>705</integer>
			<key>leftRectPositionX</key>
			<integer>560</integer>
			<key>leftRectPositionY</key>
			<integer>66</integer>
			<key>name</key>
			<string>Chuck</string>
			<key>positionX</key>
			<integer>514</integer>
			<key>positionY</key>
			<integer>576</integer>
			<key>rightHand</key>
			<string>chuck_dx_0001.png</string>
			<key>rightPositionX</key>
			<integer>240</integer>
			<key>rightPositionY</key>
			<integer>705</integer>
			<key>rightRectPositionX</key>
			<integer>302</integer>
			<key>rightRectPositionY</key>
			<integer>66</integer>
			<key>texture</key>
			<string>chuck_body_0001.png</string>
			<key>rightRectCrossPositionX</key>
			<integer>664</integer>
			<key>rightRectCrossPositionY</key>
			<integer>174</integer>
			<key>leftRectCrossPositionX</key>
			<integer>198</integer>
			<key>leftRectCrossPositionY</key>
			<string>174</string>
		</dict>
	</dict>
</dict>
</plist>
