<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGamelevel1</key>
	<dict>
		<key>BELL</key>
		<string>bell.aif</string>
		<key>PERFECT_TAP</key>
		<string>tap_2.aif</string>
		<key>WRONGTAP</key>
		<string>tap_sbagliato.aif</string>
	</dict>
	<key>kBonusLevel1</key>
	<dict>
		<key>BELL</key>
		<string>bell.aif</string>
		<key>TouchWall</key>
		<string>muro_1.mp3</string>
		<key>DestroyWall</key>
		<string>muro_2.mp3</string>
	</dict>
	<key>kBonusLevel2</key>
	<dict>
		<key>BELL</key>
		<string>bell.aif</string>
		<key>TouchTv</key>
		<string>hit_car_1.mp3</string>
		<key>DestroyTv</key>
		<string>hit_car_3.mp3</string>
	</dict>
	<key>kBonusLevel3</key>
	<dict>
		<key>BELL</key>
		<string>bell.aif</string>
		<key>TouchCar</key>
		<string>hit_car_1.mp3</string>
		<key>DestroyCar</key>
		<string>hit_car_3.mp3</string>
	</dict>
</dict>
</plist>
