<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>JeanPaul_sx_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{752, 455}, {202, 224}}</string>
			<key>offset</key>
			<string>{-20, -62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{177, 130}, {202, 224}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{140, 673}, {302, 282}}</string>
			<key>offset</key>
			<string>{104, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{251, 66}, {302, 282}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{312, 346}, {288, 278}}</string>
			<key>offset</key>
			<string>{110, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{264, 69}, {288, 278}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 673}, {138, 316}}</string>
			<key>offset</key>
			<string>{11, -22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{240, 44}, {138, 316}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {330, 344}}</string>
			<key>offset</key>
			<string>{131, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{264, 3}, {330, 344}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 346}, {310, 326}}</string>
			<key>offset</key>
			<string>{121, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{264, 22}, {310, 326}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 228}, {308, 226}}</string>
			<key>offset</key>
			<string>{-92, -61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52, 128}, {308, 226}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{443, 625}, {308, 226}}</string>
			<key>offset</key>
			<string>{-92, -62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52, 129}, {308, 226}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{910, 226}, {258, 204}}</string>
			<key>offset</key>
			<string>{-68, -49}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{101, 127}, {258, 204}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{669, 1}, {360, 224}}</string>
			<key>offset</key>
			<string>{-117, -61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 129}, {360, 224}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
		<key>JeanPaul_sx_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{332, 1}, {336, 226}}</string>
			<key>offset</key>
			<string>{-105, -62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 129}, {336, 226}}</string>
			<key>sourceSize</key>
			<string>{596, 360}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
